PORT=3000

MONGO_USER=admin
MONGO_PASSWORD=123456
MONGO_DB=portfolio
MONGO_URI=mongodb://replace_with_mongodb_user:replace_with_mongodb_password@mongodb:27017/portfolio?authSource=admin

MONGO_EXPRESS_DB_USER=portfolio_editor
MONGO_EXPRESS_DB_PASSWORD=replace_with_a_long_random_database_password
MONGO_EXPRESS_WEB_USER=replace_with_web_username
MONGO_EXPRESS_WEB_PASSWORD=replace_with_a_long_random_web_password
MONGO_EXPRESS_COOKIE_SECRET=replace_with_a_long_random_cookie_secret
MONGO_EXPRESS_SESSION_SECRET=replace_with_a_long_random_session_secret


JWT_SECRET=KJH98shd!2kjsH72@9sjd_ASKJDH
JWT_EXPIRES_IN=1d

CLOUDINARY_CLOUD_NAME=replace_with_cloud_name
CLOUDINARY_API_KEY=replace_with_api_key
CLOUDINARY_API_SECRET=replace_with_api_secret
